.header {
  width: 100%;
  background-image: url("https://w0.peakpx.com/wallpaper/340/807/HD-wallpaper-blue-color-crystal-soft-solid-solid-color.jpg");
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.navBar {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  padding: 10px 10px 10px 0;
  color: #d7d9db;
  font-weight: 400;
  font-family: graphine pro;
  font-size: 18px;
  position: fixed;
  top: 0;
}

.intro {
  display: flex;
  flex-direction: column;
  color: aliceblue;
  align-items: center;
  position: relative;
  top: 15%;
}

.name {
  color: white;
  font: 700 normal 2.5em "tahoma";
  text-shadow: 5px 2px #06284a, 2px 4px rgb(175, 215, 255), 3px 5px #d7d9db;
}

.navItem {
  cursor: pointer;
}

.decorate {
  text-decoration: underline white;
}

@media (max-width: 767px) {
  .navBar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    top: 0;
    padding: 10px 0 10px 0;
    background: #d7d9db;
    color: rgb(18, 134, 236);
    font-weight: 400;
    font-family: graphine pro;
    font-size: 18px;
    position: fixed;
  }
}
